* {
  margin: 0%;
  padding: 0%;
  font-family: 'Poppins', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wght@500&family=Anuphan:wght@100&family=Crimson+Text:ital,wght@1,700&family=EB+Garamond:ital@1&family=Eagle+Lake&family=Exo+2:wght@300&family=Montserrat:wght@200&family=Philosopher&family=Poppins:wght@200&family=Roboto+Slab&family=Roboto:ital@1&family=Schibsted+Grotesk&display=swap');

ul li{
  list-style: none;
}

body {
  background-color: rgb(252, 241, 222);
}

button {
  border: none;
}
